# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

node_modules
coverage
build
*.vm.json
.DS_Store
.gg/*
!.gg/gg.json
.gg/publish_config.json
.gg/publish_state.json
.gg/gg-publish.json
.gg/pubspec_overrides_backup.yaml
.gg/pnpm_workspace_backup.yaml
